@import "../../../theme/variables.scss";

ul.messages{
  list-style: none;
  width:100%;
  display:block;
  padding:30px 18px 80px 15px;
  position:absolute;
  bottom:0;
  left:15px;
  li{
    padding:15px 20px 20px 20px;
    display:block;
    width:400px;
    margin:10px 0 10px -15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #999;
    clear:both;
    color:#fff;
    i{
      margin-right:5px;
    }
    .msgtitle{
      font-size:12px;
      font-weight:bold;
      text-transform: uppercase;
      display:block;
    }
    .msgbody{
      font-size:25px;
      display:block;
      font-weight: lighter;
    }
  }
  li.left{
    float:left;
    background-color:$blue;
  }
  li.right{
    float:right;
    color:#000;
    background-color:#fff;
  }
}


@media(max-width:768px){
    ul.messages{
      li{
        width:100%;
        .msgbody{
          font-size:18px;
        }
      }
      li.right{
        float:left;
      }
    }
}