@import "../../theme/variables.scss";

.chat {
  .outter{
    overflow:hidden;
    position:relative;
  }
  .inner{
    position:relative;
    overflow-y:hidden;
    overflow-x:hidden;
  }
  background-color:#f2f2f2;
  input {
    padding: 8px 10px;
    border-radius: 2px;
    width:100%;
    border: none;
    background-color:#f2f2f2;
    display:inline-block;
  }
  button{
    width:90px;
    display:inline-block;
    position:absolute;
    right:0;
    text-transform: uppercase;
    color:#fff;
    background-color:$blue;
    transition: all 1s;
  }
  
  form.msgform{
    .fluidformwrapper{
      padding-right:100px;
      position:relative;
    }
    position:fixed;
    bottom:0;
    width:100%;
    display:block;
    background-color:#e8ebee;
    padding:10px 0;
    border-top:1px solid #eee;
    box-shadow: 
        inset 0px 5px 4px -5px #CCC,
        inset 0px -5px 4px -5px #CCC; 
  }
}



@media(max-width:768px){
  .chat{
    form{
      button{
        width:75px;
        right:15px;
      }
    }
  }
}